In [2]:
!pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/76/fc/310e16254683c1ed35eeb97386986d6c00bc29df17ce280aed64d55537e9/vaderSentiment-3.3.2-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 3.9MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2020.12.5)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [3]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import datetime

In [4]:
df=pd.read_csv("NVIDIA.csv")

In [5]:
sentiment = pd.DataFrame(columns=['compound', 'negative', 'neutral', 'positive'])

In [6]:
analyser = SentimentIntensityAnalyzer()
for i in range(len(df)):
  d=analyser.polarity_scores(df["title"].iloc[i])
  sentiment.loc[i]= [d['compound']] + [d['neg']] + [d['neu']] + [d['pos']]

In [7]:
sentiment

      compound  negative  neutral  positive
0      -0.5267     0.132    0.868     0.000
1       0.3612     0.000    0.444     0.556
2       0.0000     0.000    1.000     0.000
3       0.0000     0.000    1.000     0.000
4       0.7351     0.000    0.744     0.256
...        ...       ...      ...       ...
998     0.9993     0.034    0.840     0.127
999     0.9755     0.032    0.863     0.106
1000    0.9990     0.030    0.831     0.139
1001    0.7906     0.060    0.836     0.104
1002    0.7579     0.069    0.832     0.099

[1003 rows x 4 columns]

In [10]:
frames = [df, sentiment]

result = pd.concat(frames,axis=1)

In [11]:
result

      Unnamed: 0  ... positive
0              0  ...    0.000
1              3  ...    0.556
2              4  ...    0.000
3              5  ...    0.000
4              7  ...    0.256
...          ...  ...      ...
998          998  ...    0.127
999          999  ...    0.106
1000        1000  ...    0.139
1001        1001  ...    0.104
1002        1002  ...    0.099

[1003 rows x 11 columns]

In [15]:
result['date'] = pd.to_datetime(result['date']).dt.date

In [16]:
result

      Unnamed: 0  ... positive
0              0  ...    0.000
1              3  ...    0.556
2              4  ...    0.000
3              5  ...    0.000
4              7  ...    0.256
...          ...  ...      ...
998          998  ...    0.127
999          999  ...    0.106
1000        1000  ...    0.139
1001        1001  ...    0.104
1002        1002  ...    0.099

[1003 rows x 11 columns]

In [26]:
k=result["date"].unique()

Index(['date', 'score', 'num_comments', 'upvotes_ratio', 'compound',
       'negative', 'neutral', 'positive'],
      dtype='object')

In [41]:
m=[]
for i in range(len(k)):
  l=result[result["date"] == k[i]].sum()
  m.append([k[i]] + [l.score] + [l.num_comments] + [l.upvotes_ratio] + [l.compound] + [l.negative] + [l.neutral] + [l.positive])

In [42]:
df = pd.DataFrame(m,columns=result.drop(['title','author','Unnamed: 0'],axis=1).columns)

In [53]:
df=df.sort_values("date",ascending=False)

In [56]:
first_time = df["date"].iloc[67]
later_time = df["date"].iloc[0]
(later_time - first_time).days

259

In [129]:
li =[]
li.append(df.iloc[0])
for i in range(len(df)):
  first_time = df["date"].iloc[i]
  later_time = li[-1]["date"]
  for j in range((later_time - first_time).days-1):
    li.append(df.iloc[i-1])
    li[-1]["date"] = df["date"].iloc[i-1]+ datetime.timedelta(days = j)
  li.append(df.iloc[i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [131]:
pd.DataFrame(li,columns=result.drop(['title','author','Unnamed: 0'],axis=1).columns)

          date  score  num_comments  ...  negative  neutral  positive
0   2021-05-29   2832           315  ...     0.517   15.092     1.391
0   2021-05-29   2832           315  ...     0.517   15.092     1.391
1   2021-05-28   3429           681  ...     0.635   16.966     1.399
2   2021-05-27   3034           862  ...     0.611   20.223     1.167
3   2021-05-26   2400           856  ...     0.265   14.853     0.882
..         ...    ...           ...  ...       ...      ...       ...
65  2021-04-21     35            14  ...     0.000    0.924     0.076
58  2020-09-15     58            10  ...     0.000    0.426     0.574
58  2020-09-15     58            10  ...     0.000    0.426     0.574
58  2020-09-16     58            10  ...     0.000    0.426     0.574
66  2020-09-12    114            40  ...     0.021    0.915     0.064

[261 rows x 8 columns]

In [132]:
df2=pd.DataFrame(li,columns=result.drop(['title','author','Unnamed: 0'],axis=1).columns)
df2.to_csv('NVIDIA_sent.csv')